.default-button {
    cursor: pointer;

    &.dark {
        background-color: $deep-grey;
        color: $white;
        border: none;
    }
}

a.default-button {
    &.dark {
        background-color: $dark-black;
        box-shadow: $default-dark-shadow;
    }
}

@media screen and (min-width: 900px) {
    a.default-button {
        padding: 20px 40px;

        &.dark {
        }
    }
}
