/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FF3.6-15 */
/* Chrome10-25,Safari5.1-6 */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* IE6-9 */
/* FF3.6-15 */
/* Chrome10-25,Safari5.1-6 */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* IE6-9 fallback on horizontal gradient */
*, *:before, *:after {
  box-sizing: border-box; }

.header-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #47474D;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 1px 1px 6px #000000; }

.navigation .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .navigation .menu .menu-item {
    text-align: center;
    padding: 0 35px;
    font-size: .9em; }
    .navigation .menu .menu-item .fa {
      padding-bottom: 15px;
      display: block; }
  .navigation .menu img {
    padding-bottom: 10px; }
  .navigation .menu a {
    height: 55px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    color: #FFFFFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }

@media screen and (min-width: 901px) {
  .mobile-menu,
  .fa-bars {
    display: none !important; }

  .header-main {
    padding: 30px 20px; } }
@media screen and (max-width: 900px) {
  .navigation .menu {
    display: none; }

  .header-main {
    padding: 20px 20px; }
    .header-main img {
      max-width: 170px; }

  .fa-bars {
    font-size: 1.7em !important;
    cursor: pointer;
    color: #FFFFFF; }

  .mobile-menu {
    display: none; }
    .mobile-menu.active {
      display: block; }
    .mobile-menu .menu-main-menu-container {
      background-color: #47474D; }
      .mobile-menu .menu-main-menu-container .menu {
        width: 100%; }
        .mobile-menu .menu-main-menu-container .menu a {
          padding: 20px 0;
          color: white;
          text-decoration: none;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center; }
        .mobile-menu .menu-main-menu-container .menu img {
          margin-right: 15px; } }
body {
  font-family: "Avenir Next", sans-serif; }

.home_container .header {
  background-image: url("http://shipyard.dev/wp-content/themes/shipyard/assets/images/ocean.png"); }
  .home_container .header div {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
  .home_container .header img {
    max-width: 500px;
    padding-top: 85px;
    margin: 0 auto;
    display: block;
    width: 100%; }
.home_container section:nth-of-type(1) {
  background-color: #47474D;
  opacity: .7; }

.topic {
  background-color: #48ABFF;
  color: white; }
  .topic__header div {
    background: #47474D;
    background: linear-gradient(to bottom, #47474d 0%, #3a3a3b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48abff', endColorstr='#00f2ff',GradientType=1 ); }
  .topic__content {
    background: #48abff;
    background: linear-gradient(45deg, #48abff 42%, #00f2ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48abff', endColorstr='#00f2ff',GradientType=1 ); }
    .topic__content button {
      width: 50%;
      height: 45px;
      padding: 10px 20px;
      font-size: 14px;
      box-shadow: 6px 11px 19px 2px rgba(0, 0, 0, 0.8);
      max-width: 240px; }
    .topic__content-title {
      font-family: 'Century Gothic';
      text-transform: uppercase; }
    .topic__content-details span {
      text-transform: uppercase;
      font-size: .75em;
      letter-spacing: 2px;
      color: #00F2FF; }
    .topic__content-details p {
      color: #FFFFFF; }
    .topic__content-details > div:nth-of-type(1), .topic__content-details > div:nth-of-type(2) {
      border-bottom: 1px solid #00F2FF; }

.guests {
  background-color: #3A3A3B; }
  .guests__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    color: white; }
    .guests__header img {
      margin-right: 10px; }
  .guests__card {
    background-color: #FFFFFF; }
    .guests__card p {
      font-size: 1.3em; }
    .guests__card span {
      font-size: .9em; }
    .guests__card a {
      text-transform: uppercase;
      font-size: .9em;
      text-decoration: none;
      color: #48ABFF;
      font-weight: 500;
      font-size: .85em; }
    .guests__card svg {
      margin-left: 10px; }
    .guests__card p,
    .guests__card span,
    .guests__card a {
      display: block;
      padding: 10px 20px; }

.hosts {
  background: #47474D; }
  .hosts h3 {
    font-size: 2.6em;
    color: #FFFFFF; }
  .hosts_card > div:nth-of-type(1) {
    color: #FFFFFF;
    background: #48abff;
    background: linear-gradient(45deg, #48abff 42%, #00f2ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48abff', endColorstr='#00f2ff',GradientType=1 ); }

.sponsors {
  background-color: #47474D; }
  .sponsors h3 {
    font-family: "Century Gothic", sans-serif;
    max-width: 925px;
    margin: 0 auto;
    font-size: 2.3em;
    color: #FFFFFF;
    text-transform: uppercase; }

.contact {
  color: #FFFFFF; }
  .contact > div > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto; }
  .contact > div #event,
  .contact > div #participate {
    line-height: 1.5em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 50%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-transform: uppercase; }
    .contact > div #event.active,
    .contact > div #participate.active {
      border-bottom: 2px solid #48ABFF;
      color: #FFFFFF; }
  .contact > div #participate {
    text-align: right; }
  .contact > div [name="event"],
  .contact > div [name="participate"] {
    display: none;
    width: 100%;
    position: relative; }
    .contact > div [name="event"] p,
    .contact > div [name="participate"] p {
      line-height: 1.3em;
      font-size: .9em;
      font-weight: 200;
      padding: 20px 0 0 0; }
  .contact > div input {
    font-family: "Roboto", sans-serif;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    width: 100%;
    font-size: 1.2em;
    padding-bottom: 7px;
    color: white; }
    .contact > div input::-webkit-input-placeholder {
      color: #FFFFFF; }
    .contact > div input::-moz-placeholder {
      color: #FFFFFF; }
    .contact > div input:-ms-input-placeholder {
      color: #FFFFFF; }
    .contact > div input:-moz-placeholder {
      color: #FFFFFF; }
  .contact > div svg {
    right: 10px;
    position: absolute;
    top: 10px; }
  .contact > div #path0_fill {
    fill: #37EB78; }
  .contact > div .active {
    display: block; }

.footer-banner {
  background-color: #47474D;
  color: #FFFFFF; }

footer {
  background-color: #47474D; }

@media screen and (min-width: 901px) {
  .inner-container {
    max-width: 800px;
    margin: 0 auto; }

  .home_container {
    position: relative; }
    .home_container > p {
      position: absolute;
      color: #FFFFFF;
      width: 30px;
      font-size: 0.85em;
      left: 12%;
      top: 17%;
      white-space: nowrap;
      -ms-transform: rotate(90deg);
      /* IE 9 */
      /* Chrome, Safari, Opera */
      transform: rotate(90deg); }
    .home_container section:nth-of-type(1) {
      height: 900px; }

  .topic {
    position: absolute;
    top: 575px;
    width: 83%;
    right: 0; }
    .topic__header {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      height: 80px; }
      .topic__header > p {
        padding-left: 70px;
        width: 63%; }
      .topic__header div {
        width: 37%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        height: 100%; }
        .topic__header div p {
          padding-left: 30px; }
    .topic__content {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      padding: 5% 0;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .topic__content-title {
        width: 40%;
        height: 300px;
        font-size: 3.5em;
        line-height: 1.2em; }
      .topic__content-details {
        width: 55%; }
        .topic__content-details > div {
          max-width: 400px;
          padding: 20px 20px 20px 0;
          line-height: 2em;
          text-align: left; }

  .guests {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center; }
    .guests__header {
      width: 100%;
      margin-left: 16%;
      max-width: 1000px;
      padding-top: 3%;
      padding-bottom: 3%; }
      .guests__header > img {
        padding-right: 20px; }
    .guests h3 {
      color: #FFFFFF;
      width: 100%;
      font-family: "Century Gothic", sans-serif;
      font-size: 1.5em; }
    .guests__card {
      max-width: 300px;
      box-shadow: 6px 11px 19px 2px rgba(0, 0, 0, 0.8);
      margin: 0 10px;
      line-height: 1.3em; }
      .guests__card img {
        width: 100%; }

  .hosts {
    overflow: auto; }
    .hosts__container {
      max-width: 950px;
      margin: 0 auto; }
      .hosts__container > h3 {
        padding: 40px 0 70px 0; }
    .hosts_card {
      position: relative;
      display: -ms-flexbox;
      display: flex; }
      .hosts_card:not(:first-of-type) {
        margin: 160px 0; }
      .hosts_card > div:nth-of-type(1) {
        padding: 60px;
        line-height: 1.7em;
        max-width: 500px;
        position: absolute;
        top: -60px;
        box-shadow: 6px 11px 19px 2px rgba(0, 0, 0, 0.8); }
        .hosts_card > div:nth-of-type(1).right {
          right: 0; }
        .hosts_card > div:nth-of-type(1).left {
          left: 0; }
        .hosts_card > div:nth-of-type(1) h3 {
          font-size: 2em;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .hosts_card > div:nth-of-type(1) a {
          box-shadow: 6px 11px 19px 2px rgba(0, 0, 0, 0.8);
          position: relative;
          bottom: -105px; }

  .sponsors {
    padding-bottom: 200px; }
    .sponsors > div {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .sponsors > div img:nth-of-type(1),
      .sponsors > div img:nth-of-type(2) {
        width: 50%; }
      .sponsors > div img:nth-of-type(1) {
        padding: 40px 80px 0px 0; }
      .sponsors > div img:nth-of-type(2) {
        padding: 40px 0 0px 80px; }
      .sponsors > div img:nth-last-child(-n+3) {
        max-width: 200px;
        max-height: 150px; }
      .sponsors > div img {
        width: 33%;
        object-fit: contain; }

  .contact {
    background-color: #47474D;
    color: #FFFFFF; }
    .contact > div {
      padding: 100px;
      border: 1px solid #FFFFFF; }
      .contact > div > div {
        width: 85%; }

  .footer-banner > div {
    padding: 60px 45px 20px; } }
@media screen and (min-width: 1076px) {
  .guests {
    padding: 24% 0 5%; }
    .guests__card {
      width: 25%; } }
@media screen and (max-width: 1075px) and (min-width: 901px) {
  .guests {
    padding: 30% 0 5%; }
    .guests__card {
      width: 29%; } }
@media screen and (max-width: 900px) {
  .home_container .header img {
    width: 80%;
    padding: 50px; }
  .home_container > p:first-of-type {
    display: none; }

  .topic__header > p,
  .topic__header > div {
    padding: 15px; }
  .topic__content {
    padding: 25px 0 35px; }
    .topic__content-title {
      padding: 20px 0;
      font-size: 2em;
      text-align: center; }
      .topic__content-title h1 {
        font-size: 1.3em;
        line-height: 1.2em;
        margin-bottom: 30px; }
    .topic__content-details {
      width: 90%;
      margin: 0 auto;
      max-width: 500px; }
      .topic__content-details > div {
        padding: 20px 0;
        line-height: 1.7em; }

  .guests {
    overflow: auto; }
    .guests__card {
      width: 90%;
      max-width: 500px;
      margin: 25px auto; }
      .guests__card img {
        width: 100%;
        max-height: 200px;
        object-fit: cover; }
    .guests__header {
      padding: 30px 0 0 30px;
      width: 90%;
      margin: 0 auto;
      max-width: 500px; }

  .hosts {
    padding: 25px; }
    .hosts h3 {
      font-size: 1.5em;
      color: #FFFFFF;
      width: 100%;
      margin: 0 auto 20px;
      max-width: 500px; }
    .hosts_card {
      margin: 0 auto 40px auto;
      width: 100%;
      max-width: 500px; }
      .hosts_card > img {
        object-fit: cover;
        max-height: 330px;
        width: 100%; }
      .hosts_card > div {
        position: relative;
        bottom: 3px; }
      .hosts_card a {
        display: block;
        padding: 15px 25px; }
      .hosts_card h3 {
        padding: 30px 30px 15px 30px;
        margin: 0px; }
      .hosts_card p {
        padding: 0px 30px 30px 30px;
        line-height: 1.3em; }
      .hosts_card div:nth-of-type(2) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center; }
        .hosts_card div:nth-of-type(2) a {
          padding-right: 10px; }
        .hosts_card div:nth-of-type(2) img {
          width: 20px; }

  .sponsors h3 {
    text-align: center;
    padding: 10px 0 15px; }
  .sponsors .inner-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 30px; }
  .sponsors img {
    max-width: 200px;
    padding-bottom: 30px;
    max-height: 100px;
    width: 100%;
    object-fit: contain; }

  .contact {
    background-color: #47474D;
    padding: 15px; }
    .contact > div {
      padding: 50px 15px;
      border: 1px solid #FFFFFF; }

  .footer-banner img {
    padding: 15px;
    width: 30%;
    max-width: 170px; } }
.default-button {
  cursor: pointer; }
  .default-button.dark {
    background-color: #47474D;
    color: #FFFFFF;
    border: none; }

a.default-button.dark {
  background-color: #3A3A3B;
  box-shadow: 6px 11px 19px 2px rgba(0, 0, 0, 0.8); }

@media screen and (min-width: 900px) {
  a.default-button {
    padding: 20px 40px; } }

/*# sourceMappingURL=style.css.map */
